# Haddendataset preprocessing

In [1]:
import os
import shutil
import sys

import numpy as np
from scipy import sparse
import pandas as pd
import math
import matplotlib.pyplot as plt

### Load Data

In [2]:
### change `DATA_DIR` to the location where movielens-20m dataset sits
DATA_DIR = './'

In [3]:
pro_dir = "./5"

In [4]:
raw_data_total = pd.read_csv(os.path.join(DATA_DIR, 'data.csv'), header=0)
print(raw_data_total.shape[0])
raw_data = pd.DataFrame({'count' : raw_data_total.groupby( [ "users", "products"] ).size()}).reset_index()
del raw_data['count']
print(raw_data)
print(raw_data.shape)

539995
        users  products
0           0         0
1           0      1358
2           0      5506
3           0     17999
4           1         1
...       ...       ...
377917  61188     16774
377918  61189      1067
377919  61190       593
377920  61191        24
377921  61191        31

[377922 rows x 2 columns]
(377922, 2)

In [5]:
a = raw_data_total.groupby("users").size()
print(a.sort_values(ascending= False))
print(a[1137])

users
1137     15219
3486      6141
54819     5323
48418     3707
28718     3421
         ...
41454        1
41453        1
41452        1
21381        1
30595        1
Length: 61192, dtype: int64
15219

In [6]:
b = raw_data.groupby("users").size()
print(b.sort_values(ascending= False))
b[1137]

users
187      919
26       810
58       707
307      639
22       618
        ...
23037      1
23038      1
42542      1
23040      1
30595      1
Length: 61192, dtype: int64

282

In [7]:
print(b.sort_values(ascending= False))

users
187      919
26       810
58       707
307      639
22       618
        ...
23037      1
23038      1
42542      1
23040      1
30595      1
Length: 61192, dtype: int64

In [8]:
raw_data.head()

   users  products
0      0         0
1      0      1358
2      0      5506
3      0     17999
4      1         1

In [9]:
raw_data.shape

(377922, 2)

### Data splitting procedure

get_count id 별로 그룹화, 그룹별 데이터 수 확인

In [10]:
def get_count(tp, id):
    playcount_groupbyid = tp[[id]].groupby(id, as_index=False)
    count = playcount_groupbyid.size()
    return count

In [11]:
def filter_triplets(tp, min_uc=5, min_sc=0):
    # Only keep the triplets for items which were clicked on by at least min_sc users. 
    if min_sc > 0:
         #기존 data를 min_sc 해당되는 movield만 filtering       
        itemcount = get_count(tp, 'products')
        tp = tp[tp['products'].isin(itemcount.index[itemcount >= min_sc])]
    
    # Only keep the triplets for users who clicked on at least min_uc items
    # After doing this, some of the items will have less than min_uc users, but should only be a small proportion
    if min_uc > 0:
        usercount = get_count(tp, 'users')
        #기존 data를 min_uc이상 해당되는 userld만 filtering
        tp = tp[tp['users'].isin(usercount.index[usercount >= min_uc])]
    
    # Update both usercount and itemcount after filtering
    usercount, itemcount = get_count(tp, 'users'), get_count(tp, 'products') 
    return tp, usercount, itemcount

실제 data, 뽑아낸 usercont, 뽑아낸 movieId

In [12]:
raw_data, user_activity, item_popularity = filter_triplets(raw_data, cur_min_uc, cur_n_items_p)

sparsity 구하기 raw_data의 열의 갯수(filtering 된 raw data 총 갯수) / userid 갯수 * products 갯수

In [13]:
sparsity = 1. * raw_data.shape[0] / (user_activity.shape[0] * item_popularity.shape[0])

print("After filtering, there are %d watching events from %d users and %d products (sparsity: %.3f%%)" % 
      (raw_data.shape[0], user_activity.shape[0], item_popularity.shape[0], sparsity * 100))

After filtering, there are 300872 watching events from 12156 users and 47365 products (sparsity: 0.052%)

In [14]:
user_mean = np.mean(user_activity.tolist())
item_popularity = np.mean(item_popularity.tolist())
print(user_mean)
print(item_popularity)

24.750904902928596
6.352200992293888

In [15]:
print(get_count(raw_data,'users').sort_values(ascending= False))

users
187      919
26       810
58       707
307      639
22       618
        ...
16782      5
37078      5
2233       5
27346      5
20360      5
Length: 12156, dtype: int64